.focalpointfield-wrapper {
	max-width: 300px;
	width: 100%;
	position: relative;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;	
}

.focalpointfield-wrapper img {
	max-width: 300px;
	width: 100%;
	cursor: crosshair;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;	
}

.focalpointfield-marker {
	position: absolute;
	width: 1px;
	height: 1px;
	cursor: pointer;
}

.focalpointfield-marker:after {
	content: ' ';
	display: block;
	position: absolute;
	width: 12px;
	height: 12px;
	border-radius: 50%;
	left: -6px;
	top: -6px;
	background: rgba(0, 0, 0, 0.4);
	border: 2px solid rgba(255, 255, 255, 0.9);
}

.focalpointfield-error {
	color: #999;
	font-style: italic;
}
